<div class="page-content-wrapper py-3">
    <!-- Add New Contact-->

    <div class="container-lg">

        <!-- User Status Slide-->

        <!-- Element Heading-->


        <div class="card mb-2 mt-3">
            <div class="card-body p-2">
                <div class="d-flex align-items-center justify-content-between"> <a href="/">
                        <i class="bi bi-arrow-left-circle text-white h3 align-middle mt-2 ms-3"></i>
                    </a>
                    <center>
                        <h5 style="margin-left: 83px;">My Password</h5>
                    </center>
                    <a href="/add-password" class="btn btn-primary">
                        <i class="bi bi-plus-circle align-middle"></i> Add New Password
                    </a>
                </div>
            </div>
        </div>




        {{!-- <div class="top-products-area product-list-wrap">
            <div class="row g-3">
                <div class="col-12">
                    <div class="card single-product-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="d-flex align-items-center">
                                        <div class="card-side-img p-0" style="margin-right: -455px;">

                                            <img src="images/user.png" width="12%">
                                        </div>
                                        <div class="card-content px-4 py-2">
                                            <h5 class=" d-block text-truncate mt-0 mb-0">Hello Mishab👋</h5>
                                            <p class="mt-0 mb-0">mishabdev@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="d-flex align-items-center" style="margin-left: -23px;">

                                        <div class="card-content px-4 py-2">
                                            <p class="mt-0 mb-0" style="display: inline-block; margin-right: 5px;">
                                                Total Projects :</p>
                                            <h6 style="display: inline-block; margin: 0;">29</h6>
                                            <br>
                                            <p class="mt-0 mb-0" style="display: inline-block; margin-right: 5px;">
                                                Total Files :</p>
                                            <h6 style="display: inline-block; margin: 0;">149</h6>
                                        </div>

                                        <div class="card-content px-4 py-2">
                                            <p class="mt-0 mb-0" style="display: inline-block; margin-right: 5px;">
                                                Total Passwords :</p>
                                            <h6 style="display: inline-block; margin: 0;">34</h6>
                                            <br>
                                            <p class="mt-0 mb-0" style="display: inline-block; margin-right: 5px;">
                                                Total Reminders :</p>
                                            <h6 style="display: inline-block; margin: 0;">210</h6>
                                        </div>

                                        <div class="card-content px-4 py-2">
                                            <p class="mt-0 mb-0" style="display: inline-block; margin-right: 5px;">
                                                Total Documents :</p>
                                            <h6 style="display: inline-block; margin: 0;">67</h6>
                                            <br>
                                            <p class="mt-0 mb-0" style="display: inline-block; margin-right: 5px;">
                                                Total Savings :</p>
                                            <h6 style="display: inline-block; margin: 0;">10</h6>
                                        </div>

                                    </div>
                                </div>

                                <div class="col " style="margin-left: -78px;">
                                    <div class="d-flex align-items-center" style="margin-top: 13px;">
                                        <div class="row">
                                            <div class="col">
                                                <button type="button" class="btn btn-primary">
                                                    <i class="bi bi-person align-middle"></i> My Profile
                                                </button>

                                                <button type="button" class="btn btn-outline-light ml-2 ">
                                                    <i class="bi bi-arrow-down-right-circle align-middle"></i> My
                                                    Status
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}

        <style>
            ::-webkit-scrollbar-thumb {
                background-color: #fff;
                margin-top: 10px;
                /* Color of the scrollbar thumb (the draggable part) */
            }

            ::-webkit-scrollbar-track {
                margin-top: 10px;

                background-color: #272727;
                /* Color of the scrollbar track (the non-draggable part) */
            }

            .password-hidden {
                display: none;
            }

            .modal-backdrop {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 0;
                width: 100vw;
                height: 100vh;
                background-color: #000;
            }
        </style>

        <div class="row mt-3 ">

            <div class="col-lg-12">
                <div class="card  p-3">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="table-responsive">

                                <table class="data-table table-bordered w-100" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Title</th>
                                            <th>Username / Email</th>
                                            <th>Category</th>
                                            <th>Password</th>
                                            <th>Note</th>
                                            <th>Actions</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each passwords}}
                                        <tr>

                                            <td>{{incremented @index}}</td>
                                            <td>{{this.title}}</td>
                                            <td>{{this.username}}</td>
                                            <td>{{this.category}}</td>
                                            <td>
                                                <span class="password-masked"
                                                    id="passwordMasked{{@index}}">******</span>
                                                <span class="password-hidden" id="passwordHidden{{@index}}"
                                                    style="display: none;">{{this.password}}</span>
                                                <button class="toggle-password btn btn-sm"
                                                    onclick="togglePasswordVisibility({{ @index }})">👁️</button>
                                            </td>
                                            <td>{{this.note}}</td>

                                            <td><a href="/edit-password/{{this._id}}" class=""
                                                    style="margin-right:10px;"><i class="bi bi-pen text-white "></i></a>

                                                <a href="/delete-password/{{this._id}}" class=""><i
                                                        class="bi bi-trash text-danger"></i></a>
                                            </td>
                                        </tr>
                                        {{/each}}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Modal for password input -->

        <!-- Bootstrap Basic Modal -->



        <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Security Lock</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Please enter the password:</p>
                        <input type="password" id="passwordInput" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="checkPassword()">Submit</button>
                    </div>
                </div>
            </div>
        </div>



        <script>
            // Read the password from an environment variable
            var correctPassword = 'msb321';
            var currentPasswordIndex;
            var passwordRevealed = false;

            function openModal(index) {
                currentPasswordIndex = index;
                $('#passwordModal').modal('show');
            }

            function closeModal() {
                $('#passwordModal').modal('hide');
            }

            function checkPassword() {
                var input = document.getElementById("passwordInput").value;
                if (input === correctPassword) {
                    closeModal();
                    var passwordMasked = document.getElementById("passwordMasked" + currentPasswordIndex);
                    var passwordHidden = document.getElementById("passwordHidden" + currentPasswordIndex);
                    toggleVisibility(passwordMasked, passwordHidden);
                    passwordRevealed = true;
                } else {
                    alert("Incorrect password.");
                }
            }

            function togglePasswordVisibility(index) {
                openModal(index);
            }

            function toggleVisibility(passwordMasked, passwordHidden) {
                if (passwordHidden.classList.contains("visible")) {
                    passwordHidden.classList.remove("visible");
                    passwordHidden.classList.add("password-hidden");
                    passwordMasked.textContent = "******";
                } else {
                    passwordHidden.classList.remove("password-hidden");
                    passwordHidden.classList.add("visible");
                    passwordMasked.textContent = passwordHidden.textContent;
                }
            }


        </script>